{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Payment" %}
{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <form action="{% url 'expences:add' %}" method="post">
            {% csrf_token %}
            <dir class="row mb-4">
                {{ form }}
            </dir>
            <dir class="col mb-4">
                <button type="submit mb-1" class="btn btn-primary">{% translate "Submit Cost" %}</button>
                <button class="btn btn-secondary" onclick="window.close()">{% translate "Cancel" %} </button>
            </dir>
        </form>
    </div>
{% endblock content %}
