{% extends "core/home.html" %}

{% load i18n %}

{% block content %}
  <div class="d-flex flex-column mb-3">
    <div class="border shadow-sm p-2 mt-3 mx-2 bg-body-tertiary rounded">
      <a class="btn btn-primary"
         type="button"
         role="button"
         href="{% url 'sales:add_sale' %}"
         onclick="window.open(this.href, '_blank', 'width=500, height=600, toolbar=no, menubar=no, scrollbars=yes'); return false;">{% translate "New Car" %}</a>
    </div>
    <div class="border shadow-sm p-2 mt-3 mx-2 bg-body-tertiary rounded">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col" class="text-center">Reg.#</th>
            <th scope="col" class="text-center">Payment</th>
            <th scope="col" class="text-center">Type</th>
            <th scope="col" class="text-center">Brand</th>
            <th scope="col" class="text-center">Subscriber</th>
            <th scope="col" class="text-end">Total</th>
            <th scope="col" class="text-end">Discount</th>
            <th scope="col" class="text-end">Final</th>
            <th scope="col" class="text-end">Paid</th>
            <th scope="col" class="text-center">Worker</th>
            <th scope="col" class="text-center">Manager</th>
            <th scope="col" class="text-center me-2">UTL</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for sale in sales %}
            <tr>
              <td class="text-center">{{ sale.reg_number }}</td>
              <td class="text-center">
                <span class="badge text bg-
                             {% if sale.payment_status == 'PAID' %}
                               success
                             {% elif sale.payment_status == 'PARTIAL' %}
                               info
                             {% else %}
                               warning
                             {% endif %}">{{ sale.payment_status }}</span>
              </td>
              <td class="text-center">{{ sale.vehicle_type.name }}</td>
              <td class="text-center">{{ sale.vehicle_brand.brand }}</td>
              <td class="text-center">{{ sale.subscriber.name }}</td>
              <td class="text-end">{{ sale.cart.total_amount }}</td>
              <td class="text-end">{{ sale.cart.discount }}</td>
              <td class="text-end">{{ sale.cart.final_amount }}</td>
              <td class="text-end">{{ sale.paid_amount }}</td>
              <td class="text-center">{{ sale.worker.employee_id }}</td>
              <td class="text-center">{{ sale.manager.employee_id }}</td>
              <td class="text-center me-2">
                <button type="button" class="btn btn-info btn-sm">
                  <i class="bi bi-cart-plus-fill"></i> {% translate "Add Services" %}
                </button>
                <a href="{% url 'sales:delete_sale' sale_id=sale.id %}"
                   class="btn btn-danger btn-sm ms-3"
                   data-bs-toggle="modal"
                   data-bs-target="#deleteApprovalModal"
                   data-sale-delete-url="{% url 'sales:delete_sale' sale_id=sale.id %}"
                   onclick="event.preventDefault();">
                  <i class="bi bi-trash3-fill"></i> {% translate "Delete" %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% translate "Are you sure you want to delete?" as the_message %}
  {% include "delete_confirm_modal.html" with title="Delete Confirmation" message=the_message %}

  <script>
    const deleteModal = document.getElementById('deleteApprovalModal');
    deleteModal.addEventListener('show.bs.modal', function(event) {
      const button = event.relatedTarget;
      const deleteUrl = button.getAttribute('data-sale-delete-url');
      const deleteBtn = document.getElementById('confirmDeleteBtn');
      deleteBtn.href = deleteUrl;
    });
  </script>
{% endblock content %}
